{% extends 'resume_app/base.html' %}

{% load crispy_forms_tags %}
{% block title %}
    Blog|New Post
{% endblock %}
{% block content %}
    <h1 class="pl-4">Educational Info  <a class="btn btn-primary" href="{% url 'new_educational_info' %}">Add</a></h1>

    <hr>
    <div class="border rounded p-4 m-4">
        <p class="display-6">Your Education</p>
        <table class="table">
            <thead>
                <tr>
                    <th>S no.</th>
                    <th>School Name</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Degree</th>
                    <th>Year</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for l in lists %}
                <tr>

                    <td>{{forloop.counter}}</td>
                    <td>{{l.institution_name}}</td>
                    <td>{{l.city}}</td>
                    <td>{{l.state}}</td>
                    <td>{{l.degree}}</td>
                    <td>{{l.graduation_year}}</td>
                    <td><a class="btn btn-success" href="{% url 'update_educational_info' pk=l.id %}">Update</a></td>
                    <td><a class="btn btn-danger" href="{% url 'delete_educational_info' pk=l.id %}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
    </div>
<div class="row p-4 b-4">
    <div class="col-lg-5">
        <a class="btn btn-secondary" style="display:inline-block;width:100%" href="{% url 'new_personal_info' %}">BACK</a>
    </div>
    <div class="col-lg-2">

    </div>
    <div class="col-lg-5">
        <a class="btn btn-success" style="display:inline-block;width:100%" href="{% url 'employment_list' %}">NEXT</a>
    </div>
</div>
{% endblock %}